.details {
	text-align: center;
	padding-bottom: 30px;
}

.details-row {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-bottom: 30px;
}

.details-title {
	font-size: 32px;
	margin-bottom: 30px;
}

.details-image {
	margin: 0 30px;
}

.details-content {
   width: 500px;
   margin: 30px auto 30px;
}

.details-youtube {
	margin: 0 auto;
	display: block;
}

.button-back {
	max-width: 200px;
	display: block;
	margin: 25px auto;
}

@media (max-width: 740px) {


	.details-youtube {
		display: none;;
	}
}